@media screen and (max-width: 790px) {
  :root {
    --primario: #0d1b2a;
    --secundario: #1e90ff;
    --terciario: #ffffff;
    --fondo-card: #1b263b;
    --cardhover: #0a66c2;
    --btns: #ff5a5f;
    --border: #807e7e;
  }
  #iconomenu {
    display: block;
    font-size: 40px;
  }
  .logoBarras{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .logo img{
    width: 50px;
  }
  .nav-links span{
    display: none;
  }

  .menu_contenedor {
    padding: 10px 10px;
    position: relative;
    text-align: center;
  }
  .menu ul {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 130%;
    z-index: 100;
    width: 90%;
    background: linear-gradient(to right, var(--primario), var(--secundario));
    transition: all .6s linear;
    padding: 30px;
  }
  .menu ul li {
    border-bottom: 2px dotted var(--terciario);
  }
  .menu ul li a {
    color: var(--gris);
  }
  .menu {
    .abrir_menu {
      right: 0;
    }
  }
  /* lithbox */
  .lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.lightbox button {
  width: 30%;
}

.lightbox .prev {
  bottom: 18%;
  left: 30px;
}

.lightbox .next {
  bottom: 18%;
  right: 30px;
}

.lightbox .close {
  bottom: 480px;
  width: 50px;
}

/* tecnologias */
.sobre-datos {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

}


@media screen and (max-width: 457px) {
  .menu ul {
    top: 35%;
  }
}