:root {
  --primario: #0d1b2a;
  --secundario: #1e90ff;
  --terciario: #ffffff;
  --fondo-card: #1b263b;
  --cardhover: #0a66c2;
  --btns: #ff5a5f;
  --border: #807e7e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--primario);
  color: var(--terciario);
  line-height: 1.6;
}
.logoBarras{
  display: none;
}

/* ===== Hero ===== */
header {
  background: linear-gradient(to right, var(--primario), var(--secundario));
  padding: 20px 20px;
  text-align: center;
}

header h1 {
  font-size: 42px;
  margin: 0;
  color: var(--terciario);
}

header p {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.9;
}

/* seccion del nav */
nav {
  padding: 10px 5%;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  gap: 20px;
  font-size: 20px;
}
nav ul li a {
  color: var(--terciario);
  text-decoration: none;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: var(--primario);
}

/* titulos estilo global */
.titulo {
  text-align: center;
  font-size: 42px;
}

/* ===== Sección Sobre mí ===== */
.sobre-mi{
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 40px;
  text-align: justify;
}

.sobre-img {
  flex: 1;
  text-align: center;
}

.sobre-img img {
  max-width: 420px;
  max-height: 420px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--secundario);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.sobre-img .cv {
  display: inline-block;
  margin-top: 20px;
  list-style: none;
  background-color: var(--secundario);
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--terciario);
}
.sobre-img .cv:hover {
  background-color: var(--cardhover);
  color: var(--terciario);
}

.sobre-texto {
  flex: 2;
}

.sobre-texto h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--secundario);
}

.sobre-texto p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
/* ===== redes ===== */
.redes{
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes a{
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.redes i{
  padding: 10px;
  font-size: 2.5rem;
  color: var(--terciario);
}

.redes i:hover{
  color: var(--cardhover);
}

/* ===== Datos en tarjetas ===== */
.sobre-datos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.dato {
  background: var(--fondo-card);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.dato:hover {
  background: var(--cardhover);
  transform: translateY(-5px);
}

.dato i {
  font-size: 100px;
}

.dato img {
  width: 120px;
}
/* ===== Proyectos ===== */
.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  background-color: var(--fondo-card);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  cursor: pointer;
  width: 100%;
  height: auto;
}
.cardContent {
  padding: 10px;
}
.cardContent h3 {
  margin-top: 8px;
  font-size: 28px;
  margin-bottom: 8px;
  text-align: center;
}
.cardContent p {
  color: var(--terciario);
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: justify;
  padding: 10px;
}
.cardContent .btnReadMore {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secundario);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: var(--terciario);
}
.btnReadMore:hover {
  background-color: var(--cardhover);
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.lightbox button {
  position: absolute;
  border-radius: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.lightbox button:hover{
  background-color: var(--cardhover);
}

.lightbox .prev {
  left: 30px;
}

.lightbox .next {
  right: 30px;
}

.lightbox .close {
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
}


/* ===== Contacto ===== */
.container {
  max-width: 50%;
  padding: 50px;
  background-color: var(--fondo-card);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
  border-radius: 15px;
  margin: auto;
}

label {
  font-size: 1rem;
  margin-top: 10px;
  color: var(--terciario);
}

label i,
button i {
  margin-right: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--fondo-card);
  color: var(--terciario);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/* Estilo del botón */
form .btnContacto {
  width: 100%;
  padding: 12px;
  background-color: var(--secundario);
  border: none;
  border-radius: 5px;
  color: var(--terciario);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

form .btnContacto:hover {
  background-color: var(--cardhover);
}
.obligado{
  font-size: 1.1rem;
  color: red;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 20px;
  background: var(--fondo-card);
  margin-top: 50px;
}

footer p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}
